.item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 1.4rem;
  align-items: center;
  background-color: white;
  margin: 0.25rem;
  padding: 0.5rem;
  border-radius: 0.8rem;
  gap: 0.25rem;
}

.name {
  width: 40%;
  font-weight: 700;
}
.date {
  width: 15%;
}
.price {
  width: 10%;
  text-align: right;
}
.amount {
  width: 10%;
  text-align: right;
}

.cost {
  font-weight: 700;
  width: 15%;
  text-align: right;
}

@media (max-width: 500px) {
  .item {
    font-size: 1.1rem;
    align-items: center;
    background-color: white;
    border-radius: 0.6rem;
  }
  .name {
    width: 12rem;
  }
}
